.section-movie {
  box-sizing: border-box;
  padding-top: 77px;
  padding-bottom: 0;
}

.section-movie__list {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: 32px 20px;
}

.section-movie__button {
  display: block;
  margin-top: 50px;
  padding: 0;
  width: 100%;
  height: 36px;
  background-color:#F9F9F9;
  border-radius: 6px;
  border: none;
  line-height: 14.52px;
  font-size: 12px;
  color: #000;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 500;
}

.section-movie__button:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media screen and (max-width: 830px){

  .section-movie {
    padding-top: 77px;
  }

  .section-movie__list {
    gap: 36px 30px;
  }
}

@media screen and (max-width: 500px){

  .section-movie {
    padding-top: 46px;
  }

  .section-movie__list {
    gap: 20px;
  }
}