.movies {
  box-sizing: border-box;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 80px;
}

.movie__error {
  text-align: center;
}

@media screen and (max-width: 830px){

  .movies {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 500px){

  .movies {
    padding-left: 10px;
    padding-right: 10px;
  }
}